header {

  h3, p {
    margin-left: 10px;
  }
  svg {
    path {
      fill: #ffffff;
    }
  }
}



.root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background: #026520;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-family: sans-serif;

  h1 {
    margin-right: 300px;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 10px;
  }

  span {
    margin-left: 5px;
  }
}

