button {
  outline: none;
  border: none;
}

.modal {
  &Background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &Content {
    color: white;
    background-color: #515c54e8;
    margin: 10% auto;
    width: 350px;
    height: 180px;
    text-align: center;
    border-radius: 10px;
    

    &Header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #495048;
      padding: 10px 20px;
      height: 20px;
      font-size: 20px;
      border-radius: 10px 10px 0px 0px;
    }
  }

  &CloseBtn {
    color: white;
    font-size: 35px;

    &:hover,
    &:focus {
      cursor: pointer;
      font-weight: bold;
    }
  }

  &ContentText {
    padding: 20px 0 10px;
  }

  &Buttons {
    height: 40px;
    padding: 15px 0 10px;
  }
}
