.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 250px;
  height: 350px;
  border: 1px solid #01622067;
  box-sizing: border-box;
  padding: 24px;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  margin: 10px 0px 20px 15px;

  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
  }
}


.tableItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56vw;
  height: 280px;
  border: 1px solid #01622067;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 10px 0px 10px 0px;
}


.likeButton {
  background: unset;
  border: unset;
  outline: none;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 20px 0 16px;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.itemAvatar {
  height: 150px;
  max-width: 200px;
  margin-bottom: 25px;
}

.description {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(92px);
  transition: transform 0.15s ease-out;
  z-index: 2;
}

.card:hover {
  box-shadow: 0 0 10px 4px rgba(34, 60, 80, 0.5);

  .description {
    opacity: 0.3;
  }

  .btnContainer {
    transform: translateY(0);
  }
}

.tableItem:hover {
  box-shadow: 0 0 10px 4px rgba(34, 60, 80, 0.5);

  .description {
    opacity: 0.3;
  }

  .btnContainer {
    transform: translateY(0);
  }
}

