body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d5d5da;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3,
p {
  margin: 0;
}

* {
  font-family: "Ubuntu", sans-serif;
}

// .wrapper {
//   background-color: #ffffff;
//   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
//   border-radius: 20px;
//   max-width: 1080px;
//   margin: 50px auto;
// }

// .content {
//   h1 {
//     margin: 0;
//   }
// }

// .cardSection {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-auto-rows: min-content;
// }

.search-block {
  border: 1px solid #d9d5d5;
  border-radius: 8px;
  margin-right: 40px;
  padding: 0 15px;
  margin-top: 0px;

  input {
    border: 0;
    padding: 10px;
    font-size: 16px;
    width: 180px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.09);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 100%;
  width: 400px;
  padding: 30px;
  background: #ffffff;
  border-radius: 20px 0px 0px 20px;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);

  .items {
    flex: 1;
    overflow: auto;
  }

  h2 {
    img {
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.1s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.cartTotalBlock {
  margin-top: 60px;
  ul {
    display: block;
    margin-bottom: 30px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 15px;

      div {
        flex: 1;
        height: 1;
        position: relative;
        top: -4px;
        margin: 0 7px;
        border-bottom: 1px dashed #d9d5d5;
      }
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  border-radius: 18px;
  color: #ffffff;
  border: 0;
  font-size: 18px;
  background: #2bb309;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: lighten(#2bb309, 5%);
  }

  &:active {
    background: darken(#2bb309, 5%);
  }
}

.cartItem {
  border: 1px solid #d9d5d5;
  border-radius: 20px;
  overflow: hidden;
  padding-right: 10px;
  width: 280px;
  height: 65px;
  margin-bottom: 20px;

  p {
    font-size: 14px;
  }
  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
