.modal {
	max-width: 500px;
	min-width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	border-radius: 5px;
	overflow: auto;
	background-color: rgb(219, 50, 31);
}

.modalHeader {
	background-color: rgb(189, 50, 35);
	padding: 20px;
	font-size: 24px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modalCloseBtn {
  color: #fff;
  font-size: 25px;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  filter: brightness(0.9);
  background-color: transparent;

  &:hover {
    color: rgb(93, 91, 91);
  }
}

.modalBody {
  padding: 40px 40px 20px;
  text-align: center;
}

.modalBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 85%);
}

.modalFooter {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 20px 100px 20px 100px;
  div {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
}
