.app__buttons {
  text-align: center;
  margin-top: 15%;
}

main {
  display: flex;
}

h1, h2 {
  margin-top: 30px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  width: 100%;
  margin-bottom: 40px;
}

.wrapper {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1160px;
  margin: 50px auto;
  margin-top: 70px;
}

.content {
  h1 {
    margin: 0;
  }
}

/* .search-block {
  border: 1px solid #d9d5d5;
  border-radius: 8px;
  margin-right: 40px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 10px;
    font-size: 16px;
    width: 180px;
  }
} */

