// header {

//   h3, p {
//     margin-left: 10px;
//   }
//   svg {
//     path {
//       fill: #ffffff;
//     }
//   }
// }



// .root {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   box-sizing: border-box;
//   width: 100%;
//   height: 70px;
//   background: #026520;
//   color: white;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 100;
//   font-family: sans-serif;

//   // h1 {
//   //   margin-right: 300px;
//   // }

//   ul {
//     list-style: none;
//     display: flex;
//     padding: 0;
//     margin-left: 10px;
//   }

//   span {
//     margin-left: 5px;
//   }
// }

.root {
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  height: 70px;
  background: #026520;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-family: sans-serif;

  h1 {
    margin-right: 50px;
  }

  ul {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0 0 0 10px;
  }

  li {
    margin: 0 0px;
    cursor: pointer;
  }

  a {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }

  span {
    color: rgb(85, 3, 2);
    font-weight: 700;
    font-size: 26px;
  }

  img {
    margin-left: 5px;
  }
}

