.card {
  border: 1px solid #d9d5d5da;
  padding: 30px;
  width: 210px;
  border-radius: 40px;
  margin: 20px 40px 40px 0px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  p {
    // text-transform: uppercase;
    opacity: 0.6;
    font-size: 14px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  .title {
    margin: 5px 0px 8px 0px;
  }

  // .button {
  //   background: #ffffff;
  //   border: 1px solid #d9d5d5;
  //   box-sizing: border-box;
  //   border-radius: 8px;
  //   height: 32px;
  //   width: 32px;
  //   margin-top: 6px;
  //   cursor: pointer;
  // }
}
